@import url('https://fonts.googleapis.com/css?family=Roboto');
body {
-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
-webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
-webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
margin: 0;
font-family: 'Roboto';
background-color: #3498db;
}



/* Page contact  */

.contact {
text-align: center;
background-color: #3498db;
background-attachment:fixed;
font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
font-size: 0.9rem;
height: 100vh;
margin: 0px;
padding: 0px;
text-transform: uppercase;
width: 100%;
}
#back {
position: fixed;
top: 20px;
left: 17px;
}
.contact form {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}
#logo {
width: 85%;
}
.contact .body {
width: 100%;
margin: auto;
margin-top: 4rem;
}
.contact input {
padding-left: 10px;
padding-right: 130px;
padding-top: 15px;
padding-bottom: 15px;
border-radius: 10px;
margin-bottom: 1rem;
border: solid 1px green;
}
.contact #boutton {
background-color: #2ecc71;
padding-left: 90px;
padding-right: 90px;
padding-top: 4px;
padding-bottom: 4px;
border: none;   
border-radius: 10px;
font-size: 30px;
color: white;
margin-top: 1rem;
}
input[name="message"] {
padding-left: 10px;
padding-right: 130px;
padding-top: 15px;
padding-bottom: 140px;
border-radius: 10px;
}


/* Page menu */

.menu {
background-color: #3498db;
text-align: center;
background-attachment:fixed;
font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
font-size: 0.9rem;
height: 100vh;
margin: 0px;
padding: 0px;
text-transform: uppercase;
width: 100%;
}
.menu #close {
position: fixed;
top: 20px;
left: 17px;
}

.menu #close img{
width: 1.6rem;
}

.menu #logo {
width: 18rem;
}
.menu .body {
width: 75%;
margin: auto;
margin-top: 100px;
}
.menu div.body div {
text-align: left;
margin-top: 60px;
color: white;
padding: 2px;
border-bottom: solid white 1px;
}
a {
text-decoration: none;
color: white;
}
.menu .social {
width: 50%;
margin: auto;
margin-top: 3rem;
}
.menu .social div {
display: inline-block;
margin-left: 4px;
margin-right: 4px;
}


/* Page regles */

/* Page mention legale */

.mentions_legales, .regles {
text-align: center;
background-attachment:fixed;
font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
font-size: 0.9rem;
height: 100vh;
margin: 0px;
padding: 0px;
width: 100%;
color: white;
display: flex;
flex-direction: column;
align-items: center;
}

.mentions_legales h1, .regles h1{
font-size: 1.3rem;
text-transform: uppercase;

}

.mentions_legales p, .regles p{
font-size: 0.8rem;
}