
body {

    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:0.4rem;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}
 /* Page d'acceuil */
.app { 
text-align: center;
background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:0.4rem;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}
#menu {
position: fixed;
top: 20px;
left: 17px;
}
#logo {
border: solid black 1px ;
width: 60%;
}
h1 {
color: white;
}
.body input {
padding-left: 2.3rem;
padding-right: 2.3rem;
margin-top: 20px;
background-color: #3498db;
border: none;
color: white;
border-left: 1px solid white;
border-bottom: 1px solid white;
}
.body {
margin-top: 90px;
display: flex;
flex-direction: column;
align-items: 
}
#ajout {
margin-top: 20px;
}
#boutton {
background-color: #2ecc71;
padding-left: 80px;
padding-right: 80px;
padding-top: 15px;
padding-bottom: 15px;
border-radius: 10px;
font-size: 20px;
color: white;
margin-top: 8rem;
}

/* Page menu */

.menu {
text-align: center;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    width: 100%;
}
.menu #close {
position: fixed;
top: 20px;
left: 17px;
}
.menu #logo {
width: 60%;
border: solid black 1px ;
}
.menu .body {
width: 75%;
margin: auto;
margin-top: 100px;
}
.menu div.body div {
text-align: left;
margin-top: 60px;
color: white;
padding: 2px;
border-bottom: solid white 1px;
}
a {
text-decoration: none;
color: white;
}
.menu .social {
width: 50%;
margin: auto;
margin-top: 80px;
}
.menu .social div {
display: inline-block;
margin-left: 4px;
margin-right: 4px;
}

/* Page contact */

.contact {
text-align: center;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    width: 100%;
}
.contact #back {
position: fixed;
top: 20px;
left: 17px;
}
.contact #logo {
width: 60%;
border: solid black 1px ;
}
h1 {
color: white;
}
.contact .body {
width: 100  %;
margin: auto;
margin-top: 20px;
}
.contact input {
padding-left: 70px;
padding-right: 70px;
padding-top: 15px;
padding-bottom: 15px;
border-radius: 10px;
margin-bottom: 30px;
}
.contact textarea {
padding-left: 75px;
padding-right: 75px;
padding-bottom: 90px;
border-radius: 10px;
}
.contact #boutton {
background-color: #2ecc71;
padding-left: 90px;
padding-right: 90px;
padding-top: 2px;
padding-bottom: 2px;
border-radius: 10px;
font-size: 30px;
color: white;
margin-top: 4rem;
font-weight: 800;
}

/* Page ose */

.ose {
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 0px;
    padding: 0px;
    width: 100%;
}
.ose a {
text-decoration: none;


#content_ose {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: row;
    width: 100%;
    min-height: 100vh; 
    margin: 0;

}
#content_ose a {
    display: flex;
    justify-content: center;
    align-items:center;
    width: 50%;
    height: 100%;
    margin:0;
    color: white;
    text-decoration: none;
    font-weight: 800;
    font-size: 3.8rem;
    line-height: 21rem;
    border-radius: 30px;
}

#ose {
background-color: #2ecc71;
position: fixed;
left: 0px;
}
#osepas {
background-color: #e74c3c;
position: fixed;
right: 0px;
}

/* Page prenom */

.prenom {
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 2.4rem;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-transform:uppercase;
    width: 100%; 
}
.prenom h1 {
text-align: center;
color: white;
margin-top: 7.7rem;
}
.prenom a {
text-decoration: none;
}