body {
-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
-webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
-webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color: #3498db; 
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    width: 100%;
}
.menu {
text-align: center;
}
.menu #close {
position: fixed;
top: 20px;
left: 17px;
}
.menu #logo {
width: 60%;
border: solid black 1px ;
}
.menu .body {
width: 75%;
margin: auto;
margin-top: 100px;
}
.menu div.body div {
text-align: left;
margin-top: 60px;
color: white;
padding: 2px;
border-bottom: solid white 1px;
}
a {
text-decoration: none;
color: white;
}
.menu .social {
width: 50%;
margin: auto;
margin-top: 80px;
}
.menu .social div {
display: inline-block;
margin-left: 4px;
margin-right: 4px;
}