@import url('https://fonts.googleapis.com/css?family=Roboto');
body {

    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    margin: 0;
    font-family: 'Roboto';
}

.cacher{
    display: none !important;
}

.texte_cache{
    display: none !important;
}

#page_form{

    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:0.4rem;
    min-height:100vh;
    margin:0px;
    padding: 15px;
    text-transform:uppercase;
    background-color: #3498db;

}

#page_form nav img{
	height: 1.8rem;
}

#logo_slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    margin: auto;
    width: 100%;
    color: white;
    height: 11rem;
}

#logo_slogan img {
    width: 22rem;
    height: 7rem;
}

h1{
    padding: 5px;
    font-size: 1rem;
}


#form{
    display: flex;
    margin: auto;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 25rem;
    margin-top: 3rem;
}

#page_form input {
padding-left: 2.3rem;
padding-right: 2.3rem;
background-color: #3498db;
border: none;
color: white;
height: 1.7rem;
border-left: 2px solid white;
border-bottom: 2px solid white;
}

#page_form button{
    background-color: #2ecc71;
    border-radius: 10px;
    font-size: 20px;
    color: white;
    text-align: center;
    height: 3rem;
    width: 15rem;
    border:none;
}

#page_prenom{
    background-color: #3498db;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page_prenom p {
    color: white;
    font-size: 3rem;
}

#page_choix{
    background-color: #3498db;
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
}

#page_choix div{
    box-sizing: border-box;
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

#bouton_ose, #bouton_ose_pas {
    color: white; 
    font-size: 4rem;
    font-weight: bold;
}

#bouton_ose{
    background-color: #2ecc71;
}

#bouton_ose_pas{
    background-color: #e74C3C;
}

#page_question_ose, #page_question_ose_pas{
    width: 97%;
    height: 100vh;
    background-color: #1abc9c;
    color: white;
    padding: 10px;
    text-align: right;
}

#haut_page_ose{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
}

#haut_page_ose img{
    height: 2.1rem;
}

#haut_page_ose div:nth-child(2){
    border-radius: 10px;
    padding: 7px 25px;
    font-size: 1.5em;
}

#page_question_ose #haut_page_ose div:nth-child(2){
    background-color: #2ecc71;  
}

#page_question_ose_pas #haut_page_ose div:nth-child(2){
    background-color: #e74C3C;  
}

#question_ose p, #question_ose_pas p{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 9rem;
    width: 100%;
    font-size: 1.7em;
    text-align: center;
}

#page_question_ose button, #page_question_ose_pas button {
    border:none;
    border-radius: 10px;
    background-color: #3498db;
    color: white;
    height: 3.5rem;
    width: 8rem;
    font-size: 1.4em;
    text-transform: uppercase;
}

#page_tools{
    height: 100vh;
    width: 100%;
    color: white;
    display: flex;
}

#blanc{
    height: 100vh;
    width: 65%;
}

#page_tools div:last-child{
    height: 100vh;
    width: 35%;
    background-color: #3498db;
    display: flex;
    flex-direction: column;
    padding: 15px;
}

#fermer img{
    height: 1.2rem;
}

#fermer + div{
    display: flex;
    height: 5.5em;
}

#fermer + div img {
    height: 4rem;
    margin: auto;
}

#page_tools ul {
    display: flex;
    padding: 0;
    width: 12rem;
    flex-direction: column;
    height: 60vh;
    justify-content: space-around;
    list-style-type: none;
}

#page_tools li{
    border-bottom: 1px solid white;
    text-transform: uppercase;
    font-size: 0.7rem;
    padding-bottom: 0.2rem;
}

#page_tools a{
    color: white;
    text-decoration: none;
}

#page_tools ul li:last-child{
    border:none;
    display: flex;
    justify-content: center;
}

#page_tools ul li img{
    margin:3px;
    height: 1.5rem;
}

#page_regles{
	width: 11rem;
}

#page_regles h2{
	font-size: 1rem; 
}

#page_regles p{
	font-size: 0.7rem;
}